{name, "mochijson"}.
{authors, ["Bob Ippolito <bob@mochimedia.com>"]}.
{description, "The json encoding modules from mochiweb"}.
{homepage, "http://github.com/mochi/mochiweb"}.
{license, "MIT"}.
{url, {git, "https://github.com/mochi/mochiweb.git", {branch, "master"}}}.
{applications, [mochijson]}.
{build_command, "$AGNER_PACKAGE_REPO/build.sh"}.
