{name, "mochijson2"}.
{authors, ["Bob Ippolito <bob@mochimedia.com>"]}.
{description, "The json encoding modules from mochiweb"}.
{homepage, "http://github.com/mochi/mochiweb"}.
{rebar_compatible, true}.
{license, "MIT"}.
{url, {git, "https://github.com/bjnortier/mochijson2.git", {branch, "master"}}}.
{applications, [mochijson2]}.
